* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primary-accent-color: rgb(100, 135, 103);
    --primary-background-color: rgb(206, 231, 230);
}

body {
    background-image: url("resources/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

main {
    background-color: rgba(206, 231, 230, 0.8);
    position: relative;
    top: 30%;
    border: 1px solid;
    border-radius: 5px;
    border-color: white;
    min-width: 540px;
    max-width: 50%;
    margin: auto;
    padding: 2em;
    color: rgb(42, 43, 42);
}

h1 {
    margin-bottom: 20px;
}

#search {
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 70%;
    height: 42px;
    color: var(--primary-accent-color);
    border-color: white;
}

#submit {
    border-radius: 0 5px 5px 0;
    border-color: white;
    background-color: var(--primary-accent-color);
    padding: 10px;
    font-size: 16px;
    width: 5em;
    cursor: pointer;
    color: white;
}

#weather-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
    justify-content: space-between;
    }

#weather-search {
    display: flex;
    width: 50%;
}

#weather-data {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 1.5em;
    margin-top: 20px;

    text-align: center;
    align-items: center;
    gap: 12px;
    color: var(--primary-accent-color);
}

#weather-data > img {
    border-radius: 10%;
    border-color: var(--primary-accent-color);
    background-color: rgb(164, 221, 243);
    border-style: dashed;
}